.snackbar
{
    display: none;
    min-width: 250px;
    margin-left: -125px;
    background: #004085;
    color: white;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}