To: test-subject@gmail.com<br>Subject: Account Confirmation<br>Dear test-subject,
Welcome to Almas Parlour
Please click on this link to activate your account

http://www.almasparlour.co.ke/almas-parlour/behind-scenes/confirm-account.php?id=24&a=b396e25a046a2ca3514e92ea2ed0c32f<br>From: no-reply@almasparlour.co.ke
To: test-subject2@gmail.com<br>Subject: Account Confirmation<br>Dear test-subject2,
Welcome to Almas Parlour
Please click on this link to activate your account

http://www.almasparlour.co.ke/almas-parlour/behind-scenes/confirm-account.php?id=25&a=2bf0eaf03eab31acbbe67fb76d30b2a7<br>From: no-reply@almasparlour.co.ke
